header .intro-text .skills {
    font-size: 3.75em;
}

.navbar-brand span {
    font-size: 16px;
    font-family: 'Rozha One', serif;
}

.cool h2 {
    color: #ffffff;
    font-weight: 400;
}

.skillsLine {
    color: black;
}

.tag {
    text-align: center;
    font-family: 'Rozha One', serif;
    font-weight: bold;
    font-size: 1.6em;
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}

.dude {
    color: whitesmoke;
}

.dude2 {
    color: whitesmoke;
}

#skills .cool {
    margin-top: -12vh;
}

.brand-heading {
    text-shadow: 2px 2px 5px black;
}

.stack {
    font-size: 2.1em;
    font-family: 'Rozha One', serif;
    text-shadow: 2px 2px 5px black;
}

.flex p {
    text-align: center;
}

.me {
    background: url("https://www.scientificamerican.com/sciam/assets/Image/image8.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
}

.flexItem span {
    font-family: 'Rozha One', serif;
    color: white;
}

.flexItem i {
    color: whitesmoke;
}

.faded.ng-hide {
    opacity: 0;
}

.faded.ng-hide-add,
.faded.ng-hide-remove {
    transition: all linear 1s;
}

.faded2.ng-hide {
    opacity: 0;
}

.faded2.ng-hide-add,
.faded2.ng-hide-remove {
    transition: all linear .5s;
}

.faded3.ng-hide {
    opacity: 1;
}

.faded3.ng-hide-add,
.faded3.ng-hide-remove {
    -webkit-transition: .2s ease-in-out opacity;
    -moz-transition: .2s ease-in-out opacity;
    -ms-transition: .2s ease-in-out opacity;
    -o-transition: .2s ease-in-out opacity;
    transition: .2s ease-in-out opacity;
    opacity: 0;
}

.faded4.ng-hide {
    opacity: 1;
}

.faded4.ng-hide-add,
.faded4.ng-hide-remove {
    -webkit-transition: .2s ease-in-out opacity;
    -moz-transition: .2s ease-in-out opacity;
    -ms-transition: .2s ease-in-out opacity;
    -o-transition: .2s ease-in-out opacity;
    transition: .2s ease-in-out opacity;
    opacity: 0;
}

.resumeButtons {
    display: flex;
    justify-content: space-around;
}

.resumeButtons .sheet {
    margin-right: 14.5px;
}

.resumeButtons .download2 {
    margin-left: 14.5px;
}

.sectionFont {
    font-family: 'Rozha One', serif;
    font-weight: 400;
    text-shadow: 2px 2px 5px black;
}

.textButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textButton .text48 {
    font-family: 'Rozha One', serif;
    color: whitesmoke;
}

.text45 {
    font-size: 1.2em;
}

.myPicture {
    opacity: .9;
    box-shadow: 0 0 .2px .2px black,
    0 0 .2px .2px black,
    0 0 .2px .2px black;

}

#skills {
    height: 122.5%;
    background: url("../imgs/grey26.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
}

.box29 {
    text-align: center;
}

.imageLinks {
    height: 230px;
    width: 390px;
}

.text23 {
    color: whitesmoke;
}

.links26 {
    position: absolute;
    bottom: 4%;
    width: 92%
}

.links25 {
    display: flex;
    height: 18vh;
    justify-content: space-around;
    font-size: 1.15em;
}

.links25 span a {
    width: 90px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease-in-out;
    background-color: black;
    padding: 4%;
}

.overlay {
    animation-name: boxswitch;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 2s ease-in-out;
}

.hideCardBody {
    visibility: hidden;
}

@keyframes boxswitch {
    0% {
        box-shadow: inset 0 0 7px 7px #3f5767;
    }
    20% {
        box-shadow: inset 0 0 7px 7px whitesmoke;
    }
    40% {
        box-shadow: inset 0 0 7px 7px #3a5161;
    }
    80% {
        box-shadow: inset 0 0 7px 7px #BCC6CC;
    }
    100% {
        box-shadow: inset 0 0 7px 7px #4C75A3;
    }

}

.text-center h2 {
    font-size: 3em;
}

.flexImage {
    display: flex;
    justify-content: space-between;
}

hr {
    display: block;
    color: whitesmoke;
    margin-top: 0.5em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#skills2 {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

#contact {
    height: 100%;
}

.imgWrapper {
    height: 230px;
    max-width: 330px;
    text-align: center;
}

.imgWrapper img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.tag1 {
    font-size: 1.9em;
}

.main {
    width: 40vw;
    opacity: .95;
    border: 2px solid black;
    margin-left: 30vw;
    border-radius: 2%;
    padding: 2%;
}

.projects {
    color: whitesmoke;
}

.contactButtons {
    color: whitesmoke;
}

.btn-custom {
    background-color: #7b8185;
    border-color: #7b8185;
    box-shadow: 0 0 .25px .25px whitesmoke,
    0 0 .5px .5px #808080,
    0 0 .75px .35px #6f7478;
    font-family: 'Rozha One', serif;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #6f7478;
    border-color: black;
    cursor: pointer;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #7b8185;
    border-color: #7b8185;
}

.flexContact {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.flexItem {
    margin-bottom: 10vh;
}

.copied {
    text-shadow: 2px 2px 2px black;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: -60px;
}

.card {
    background-color: #E8E8E8;
    height: 35vh;
    max-width: 19.15vw;
    box-shadow: 0 0 1px .75px whitesmoke,
    0 0 2.5px 1.5px #808080,
    0 0 3px 1.75px #778899;
}

.cardBack {
    background-color: black;
    box-shadow: 0 0 1px .75px whitesmoke,
    0 0 2.5px 1.5px #808080,
    0 0 3px 1.75px #778899;
    animation-name: boxswitch;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.card-body {
    padding-top: 109px;
}

.cardBody2 {
    visibility: hidden;
}

.card-title {
    text-align: center;
    margin-top: 2vh;
    color: #707070;
    font-family: 'Rozha One', serif;
    text-shadow: 1px 1px 1px black;
}

.card-text {
    padding: 4%;
    font-size: 1.4em;
    font-family: 'Rozha One', serif;
    color: white;
    position: absolute;
    top: 2%;
    text-shadow: 2px 2px 2px black;
}

.projectInfo2 {
    margin-bottom: 0;
    margin-top: 2vh;
}

.githubLink {
    font-size: 1.2em;
    text-align: center;
    font-family: 'Rozha One', serif;
    margin-top: auto;
}

.githubLink a {
    color: whitesmoke;
    font-family: 'Rozha One', serif;
}

.githubLink a:hover {
    color: lightgrey;
}

#projects {
    position: relative;
    background-color: black;
    margin-top: -15vh;
    height: 164%;
    z-index: 3;
    background-image: -moz-radial-gradient(circle, #FFFFFF .2px, #C0C0C0 .5px, transparent 2.5px),
    -moz-radial-gradient(circle, #FFFFFF .5px, #778899 .5px, transparent 3.75px),
    -moz-radial-gradient(ellipse, #778899 .5px, #D3D3D3 .5px, transparent 2.5px),
    -moz-radial-gradient(ellipse, #FFFFFF, #C0C0C0 .5px, transparent 1.75px);
    background-image: -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 2.5, from(white), color-stop(0.1, #C0C0C0), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1.75, from(white), color-stop(0.1, #778899), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 2.5, from(#778899), color-stop(0.05, #D3D3D3), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1.75, from(rgba(255, 255, 255, .4)), color-stop(0.03, #C0C0C0), to(transparent));
    background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    animation-name: movement;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -moz-animation-name: movement;
    -moz-animation-duration: 15s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-name: movement;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

#particles-js {
    position: absolute;
    height: 97%;
    width: 100%;
    z-index: -1;
}

.stars, .twinkling {
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;

}

.stars {
    background: url(../imgs/stars2.png);
    z-index: -1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    height: 215vh;
    width: 100vw;

}

.twinkling {
    width: 100vw;
    height: 215vh;
    background: url(../imgs/twinkling.png) repeat center;
    z-index: -1;
    -moz-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;

}

.stars2 {
    position: absolute;
    background: url(../imgs/stars2.png);
    z-index: -3;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    height: 156vh;
    width: 100vw;
}

.twinkling2 {
    position: absolute;
    width: 100vw;
    height: 156vh;
    z-index: -3;
    background: url(../imgs/twinkling.png) repeat center;
    -moz-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }

}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

#projects > .container {
    max-width: 78vw;
}

.heyman {
    margin-right: -240px;
    margin-left: -240px;
}

.textItem {
    display: none;
}

.titles {
    display: flex;
    justify-content: space-around;
    font-family: 'Rozha One', serif;
}

.titles2 {
    display: flex;
    justify-content: space-around;
    font-family: 'Rozha One', serif;
}

.row21 {
    width: 90vh;
}

#about {
    height: 120%;
    margin-bottom: 0;
    background-image: -moz-radial-gradient(circle, #FFFFFF .2px, #C0C0C0 .5px, transparent 2.5px),
    -moz-radial-gradient(circle, #FFFFFF .5px, #778899 .5px, transparent 3.75px),
    -moz-radial-gradient(ellipse, #778899 .5px, #D3D3D3 .5px, transparent 2.5px),
    -moz-radial-gradient(ellipse, #FFFFFF, #C0C0C0 .5px, transparent 1.75px);
    background-image: -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 2.5, from(white), color-stop(0.1, #C0C0C0), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1.75, from(white), color-stop(0.1, #778899), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 2.5, from(#778899), color-stop(0.05, #D3D3D3), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1.75, from(rgba(255, 255, 255, .4)), color-stop(0.03, #C0C0C0), to(transparent));
    background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    animation-name: movement;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -moz-animation-name: movement;
    -moz-animation-duration: 25s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-name: movement;
    -webkit-animation-duration: 25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

#about p {
    font-family: 'Rozha One', serif;
    font-size: 1.6em;
    text-shadow: 2px 2px 5px black;
}

@keyframes movement {
    from {
        background-position: 0 0, -30px -60px, -130px -270px, -70px -150px;
    }
    to {
        background-position: 1000px 1000px, 320px 60px, 120px 270px, 120px 120px;
    }
}

@-moz-keyframes movement {
    from {
        background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    }
    to {
        background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
    }
}

@-webkit-keyframes movement {
    from {
        background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    }
    to {
        background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
    }
}

.weather {
    text-align: center;
    font-size: 1.4em
}

.align {
    display: flex;
    align-items: center;
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .twinkling2 {
        height: 166vh;
    }

    .stars2 {
        height: 166vh;
    }

    .heyman {
        margin-right: -115px;
        margin-left: -115px;
    }

    .imgWrapper {
        height: 190px;
    }

    .card img {
        max-height: 190px;
    }

    .card {
        height: 36vh;
    }

    .card-text {
        font-size: 1.1em;
    }

    #projects {
        height: 170%;
    }

    #skills {
        height: 141%;
    }
}

@media (min-width: 1440px) and (max-width: 1585px) {
    .cool img {
        height: 80px;
        width: 80px;
    }

    .cool .tag {
        font-size: 1.2em;
    }

    #skills {
        height: 125%;
    }
}

@media (min-width: 1350px) and (max-width: 1440px) {
    .twinkling2 {
        height: 158vh;
    }

    .stars2 {
        height: 158vh;
    }

    .heyman {
        margin-right: -115px;
        margin-left: -115px;
    }

    .card {
        height: 32vh;
    }

    .imgWrapper {
        height: 170px;
    }

    .card img {
        max-height: 170px;
    }

    #skills {
        height: 125%;
    }

    #projects {
        height: 158%;
    }

    .card-text {
        font-size: 1em;
    }

    .card-title {
        font-size: 1em;
    }

    .cool img {
        height: 80px;
        width: 80px;
    }

    .cool .tag {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) and (max-width: 1350px) {
    .heyman {
        margin-right: -40px;
        margin-left: -40px;
    }

    .cool img {
        height: 60px;
        width: 60px;
    }

    .cool .tag {
        font-size: 1em;
    }

    #skills {
        height: 112%;
    }

    .imgWrapper {
        height: 180px;
    }

    .card img {
        max-height: 180px;
    }

    .card {
        height: 32vh;
    }

    .card-title {
        font-size: 1em;
    }

    .card-text {
        font-size: .9em;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .twinkling2 {
        height: 144vh;
    }

    .stars2 {
        height: 144vh;
    }

    #projects {
        height: 144%;
    }

    .textButton .btn {
        font-size: 12px;
        padding: 4px 8px;
    }

    .githubLink .btn {
        font-size: 12px;
        padding: 2px 2px;
    }

    .links25 {
        justify-content: center;
        margin-right: 4%;
    }

    .links25 span a {
        width: 55px;
    }

    .heyman {
        margin-right: -40px;
        margin-left: -40px;
    }

    .card {
        height: 28vh;
    }

    #skills {
        height: 110%;
    }

    .card-text {
        font-size: .8em;
        margin-left: 1%;
        margin-top: 3%;
    }

    .card-title {
        font-size: 1em;
    }

    .imgWrapper {
        height: 150px;
    }

    .card img {
        max-height: 150px;
    }

    .cool img {
        height: 60px;
        width: 60px;
    }

    .cool .tag {
        font-size: 1em;
    }

    .firstLine img {
        height: 80px;
        width: 80px;
    }

}

@media (min-width: 992px) and (max-width: 1024px) {
    #about {
        height: 108vh;
    }

    #about p {
        font-size: 1.2em;
    }

    .githubLink .btn {
        font-size: 12px;
        padding: 2px 2px;
    }

    .links25 {
        justify-content: center;
        margin-right: 4%;
    }

    .links25 span a {
        width: 55px;
    }

    .twinkling2 {
        height: 135vh;
    }

    .stars2 {
        height: 135vh;
    }

    .heyman {
        margin-right: -15px;
        margin-left: -15px;
    }

    .cool img {
        height: 60px;
        width: 60px;
    }

    .cool .tag {
        font-size: 1em;
    }

    .card-title {
        font-size: .8em;
    }

    .smaller {
        height: 168%;
    }

    .card-text {
        font-size: .75em;
    }

    .card {
        height: 26vh;
    }

    #skills {
        height: 109%;
    }

    .tag {
        font-size: 1.4em;
    }

    #skills2 img {
        height: 60px;
        width: 60px;
    }

    .dude img {
        height: 60px;
        width: 60px;
    }

    .firstLine img {
        height: 80px;
        width: 80px;
    }

    #projects {
        height: 136%;
    }

    .links25 {
        font-size: .9em;
    }

    .feedBack {
        font-size: 1.2em;
    }

    .blog {
        font-size: 1.2em;
    }

    .pro7 {
        font-size: .85em;
    }

    .box {
        height: 270px;
    }

    .imgWrapper {
        height: 150px;
    }

    .card img {
        max-height: 150px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .twinkling2 {
        height: 135vh;

    }

    .githubLink .btn {
        font-size: 10px;
        padding: 2px 2px;
    }

    .links25 {
        justify-content: center;
        margin-right: 5%;
    }

    .links25 span a {
        width: 55px;
    }

    .stars2 {
        height: 135vh;
    }

    .heyman {
        margin-right: -10px;
        margin-left: -10px;
    }

    #skills .cool {
        margin-top: -30vh;
    }

    #about p {
        font-size: 1.2em;
    }

    .cool img {
        height: 60px;
        width: 60px;
    }

    .cool .tag {
        font-size: .8em;
    }

    #projects img {
        height: 200px;
    }

    .dude img {
        height: 80px;
        width: 80px;
    }

    .firstLine img {
        height: 80px;
        width: 80px;
    }

    .imgWrapper {
        height: 150px;
    }

    .card img {
        max-height: 150px;
        /*max-width: 140px;*/
    }

    .card {
        height: 29vh;
    }

    .card-text {
        font-size: 1.15em;
    }

    #projects .container img {
        height: 153px;
    }

    #projects {
        height: 146%;
    }

    #skills {
        height: 102%;
    }

    .card-title {
        font-size: .8em;
    }

    .text23 {
        font-size: .7em;
    }

    #contact {
        margin-top: -10vh;
        height: 120%;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .card-text {
        font-size: 1em;
    }
}

@media (min-width: 535px) and (max-width: 768px) {
    .textButton .btn {
        font-size: 10px;
        padding: 2px 4px;
    }

    #skills {
        height: 94%;
    }

    .twinkling2 {
        height: 130vh;
    }

    .stars2 {
        height: 130vh;
    }

    #about p {
        font-size: 1em;
    }

    #projects {
        height: 131%;
    }

    .githubLink .btn {
        font-size: 10px;
        padding: 2px 4px;
    }

    .imgWrapper img {
        height: 120px;
    }

    .card-title {
        font-size: .9em;
    }

    #projects {
        height: 148%;
    }

    #skills {
        height: 110%;
    }

    #skills .cool {
        margin-top: -24vh;
    }

    .card {
        height: 24vh;
        max-width: 22.15vw
    }

    .card img {
        max-height: 135px;
    }

    .card-text {
        font-size: .7em;
    }

    .card-title {
        font-size: .7em;
    }

    .heyman {
        margin-right: 0;
        margin-left: 0;
    }

    .cool img {
        height: 40px;
        width: 40px;
    }

    .cool .tag {
        font-size: .7em;
    }

    .feedBack {
        font-size: 1em;
    }

    .blog {
        font-size: 1em;
    }

    .tag {
        font-size: 1.2em;
    }

    .weather {
        font-size: 1.15em;
    }

    .smaller {
        height: 155%;
    }

}

@media (min-width: 425px) and (max-width: 535px) {
    .textButton .btn {
        font-size: 10px;
        padding: 2px 4px;
    }

    #skills {
        height: 94%;
    }

    .twinkling2 {
        height: 130vh;
    }

    .stars2 {
        height: 130vh;
    }

    #about p {
        font-size: 1em;
    }

    #projects {
        height: 131%;
    }

    .githubLink .btn {
        font-size: 10px;
        padding: 2px 4px;
    }

    .imgWrapper img {
        height: 120px;
    }

    .card-title {
        font-size: .9em;
    }

    #projects {
        height: 148%;
    }

    #skills {
        height: 110%;
    }

    #skills .cool {
        margin-top: -24vh;
    }

    .card {
        height: 24vh;
        max-width: 22.15vw
    }

    .card-title {
        font-size: .7em;
    }

    .card img {
        max-height: 135px;
    }

    .card-text {
        font-size: .7em;
    }

    .card-title {
        font-size: .7em;
    }

    .heyman {
        margin-right: 0;
        margin-left: 0;
    }

    .cool img {
        height: 40px;
        width: 40px;
    }

    .cool .tag {
        font-size: .7em;
    }

    .feedBack {
        font-size: 1em;
    }

    .blog {
        font-size: 1em;
    }

    .tag {
        font-size: 1.2em;
    }

    .weather {
        font-size: 1.15em;
    }

    .smaller {
        height: 155%;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    #skills {
        height: 75%;
    }

    #skills .cool {
        margin-top: -32vh;
    }

    #projects {
        height: 306%;
    }

    .card {
        height: 25vh;
        max-width: 66.15vw;
        margin-bottom: 25px;
    }

    .card img {
        max-height: 129px;
    }

    .card-text {
        font-size: .7em;
    }

    #cardPicture .imgWrapper img {
        height: 129px;
    }

    .heyman {
        margin-right: 0;
        margin-left: 0;
    }

    .text-center h2 {
        font-size: 1.5em;
    }

    .cool hr {
        width: 23vw;
    }

    .james {
        margin-top: 20px;
    }

    .myPicture {
        height: 28%;
        width: 50%;
    }

    .brand-heading {
        font-size: 41px;
        line-height: 14px;
    }

    .stack {
        font-size: 87%;
    }

    .btn-circle {
        height: 80%;
        width: 80%;
    }

    .sectionFont {
        font-size: 10px;
    }

    #about p {
        font-size: 13px;
    }

    .cool img {
        height: 30px;
        width: 30px;
    }

    .cool .tag {
        font-size: .5em;
    }

    #contact {
        height: 113%;
    }

    .rowContact {
        margin-top: -28vh
    }

    #contact .container .row .col-lg-18 {
        margin-top: -17vh;
    }
}