header .intro-text .skills {
    font-size: 3.75em;
}

.cool h2 {
    color: #ffffff;
}

.skillsLine {
    color: black;
}

.tag {
    text-align: center;
    font-family: 'Rozha One', serif;
    font-weight: bold;
    font-size: 1.6em;
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}

.dude {
    color: whitesmoke;
}

.dude2 {
    color: whitesmoke;
}

#skills .cool {
    margin-top: -12vh;
}

.brand-heading {
    text-shadow: 2px 2px 5px black;
}

.stack {
    font-size: 2.1em;
    font-family: 'Rozha One', serif;
    text-shadow: 2px 2px 5px black;
}

.flex p {
    text-align: center;
}

.me {
    background: url("../imgs/moon.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
}

.flexItem span {
    font-family: 'Rozha One', serif;
    color: white;
}

.flexItem i {
    color: whitesmoke;
}

.faded.ng-hide {
    opacity: 0;
}

.faded.ng-hide-add,
.faded.ng-hide-remove {
    transition: all linear 1s;
}

.faded2.ng-hide {
    opacity: 0;
}

.faded2.ng-hide-add,
.faded2.ng-hide-remove {
    transition: all linear .5s;
}

.faded3.ng-hide {
    opacity: 1;
}

.faded3.ng-hide-add,
.faded3.ng-hide-remove {
    -webkit-transition: .2s ease-in-out opacity;
    -moz-transition: .2s ease-in-out opacity;
    -ms-transition: .2s ease-in-out opacity;
    -o-transition: .2s ease-in-out opacity;
    transition: .2s ease-in-out opacity;
    opacity: 0;
}

.faded4.ng-hide {
    opacity: 1;
}

.faded4.ng-hide-add,
.faded4.ng-hide-remove {
    -webkit-transition: .2s ease-in-out opacity;
    -moz-transition: .2s ease-in-out opacity;
    -ms-transition: .2s ease-in-out opacity;
    -o-transition: .2s ease-in-out opacity;
    transition: .2s ease-in-out opacity;
    opacity: 0;
}

.resumeButtons {
    display: flex;
    justify-content: space-around;
}

.resumeButtons .sheet {
    margin-right: 14.5px;
}

.resumeButtons .download2 {
    margin-left: 14.5px;
}

.sectionFont {
    font-family: 'Rozha One', serif;
}

.textButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textButton .text48 {
    font-family: 'Rozha One', serif;
    color: whitesmoke;
}

.text45 {
    font-size: 1.2em;
}
.myPicture {
    border-radius: 50%;
    box-shadow: 0 0 .2px .2px black,
    0 0 .2px .2px black,
    0 0 .2px .2px black;

}

#skills {
    height: 122.5%;
    background: url("../imgs/grey26.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
}

.box {
    border-radius: 7pt;
    width: 390px;
    height: 350px;
    padding: 2.5%;
    border: 2px solid whitesmoke;
}

.box:hover {
    background-color: black;
    box-shadow: inset 0 0 0 15px #3A5161;
}

.box29 {
    text-align: center;
}

.imageLinks {
    height: 230px;
    width: 390px;
}

.text23 {
    color: whitesmoke;
}

.links26 {
    position: absolute;
    bottom: 4%;
    width: 92%
}

.links25 {
    display: flex;
    height: 18vh;
    justify-content: space-around;
    font-size: 1.15em;
}

.links25 span a {
    width: 90px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(89, 89, 89, 1);
    background: -moz-linear-gradient(left, rgba(89, 89, 89, 1) 0%, rgba(89, 89, 89, 1) 4%, rgba(76, 76, 76, 1) 9%, rgba(44, 44, 44, 1) 20%, rgba(17, 17, 17, 0.99) 30%, rgba(0, 0, 0, 0.99) 53%, rgba(28, 28, 28, 0.98) 72%, rgba(43, 43, 43, 0.98) 77%, rgba(95, 95, 95, 0.98) 93%, rgba(102, 102, 102, 0.98) 95%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(89, 89, 89, 1)), color-stop(4%, rgba(89, 89, 89, 1)), color-stop(9%, rgba(76, 76, 76, 1)), color-stop(20%, rgba(44, 44, 44, 1)), color-stop(30%, rgba(17, 17, 17, 0.99)), color-stop(53%, rgba(0, 0, 0, 0.99)), color-stop(72%, rgba(28, 28, 28, 0.98)), color-stop(77%, rgba(43, 43, 43, 0.98)), color-stop(93%, rgba(95, 95, 95, 0.98)), color-stop(95%, rgba(102, 102, 102, 0.98)));
    background: -webkit-linear-gradient(left, rgba(89, 89, 89, 1) 0%, rgba(89, 89, 89, 1) 4%, rgba(76, 76, 76, 1) 9%, rgba(44, 44, 44, 1) 20%, rgba(17, 17, 17, 0.99) 30%, rgba(0, 0, 0, 0.99) 53%, rgba(28, 28, 28, 0.98) 72%, rgba(43, 43, 43, 0.98) 77%, rgba(95, 95, 95, 0.98) 93%, rgba(102, 102, 102, 0.98) 95%);
    background: -o-linear-gradient(left, rgba(89, 89, 89, 1) 0%, rgba(89, 89, 89, 1) 4%, rgba(76, 76, 76, 1) 9%, rgba(44, 44, 44, 1) 20%, rgba(17, 17, 17, 0.99) 30%, rgba(0, 0, 0, 0.99) 53%, rgba(28, 28, 28, 0.98) 72%, rgba(43, 43, 43, 0.98) 77%, rgba(95, 95, 95, 0.98) 93%, rgba(102, 102, 102, 0.98) 95%);
    background: -ms-linear-gradient(left, rgba(89, 89, 89, 1) 0%, rgba(89, 89, 89, 1) 4%, rgba(76, 76, 76, 1) 9%, rgba(44, 44, 44, 1) 20%, rgba(17, 17, 17, 0.99) 30%, rgba(0, 0, 0, 0.99) 53%, rgba(28, 28, 28, 0.98) 72%, rgba(43, 43, 43, 0.98) 77%, rgba(95, 95, 95, 0.98) 93%, rgba(102, 102, 102, 0.98) 95%);
    background: linear-gradient(to right, rgba(89, 89, 89, 1) 0%, rgba(89, 89, 89, 1) 4%, rgba(76, 76, 76, 1) 9%, rgba(44, 44, 44, 1) 20%, rgba(17, 17, 17, 0.99) 30%, rgba(0, 0, 0, 0.99) 53%, rgba(28, 28, 28, 0.98) 72%, rgba(43, 43, 43, 0.98) 77%, rgba(95, 95, 95, 0.98) 93%, rgba(102, 102, 102, 0.98) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959', endColorstr='#666666', GradientType=1);
    padding: 4%;
}

.overlay {
    animation-name: boxswitch;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes boxswitch {
    0% {
        box-shadow: inset 0 0 7px 7px #3f5767;
    }
    20% {
        box-shadow: inset 0 0 7px 7px whitesmoke;
    }
    40% {
        box-shadow: inset 0 0 7px 7px #3a5161;
    }
    80% {
        box-shadow: inset 0 0 7px 7px #BCC6CC;
    }
    100% {
        box-shadow: inset 0 0 7px 7px #4C75A3;
    }

}

.text-center h2 {
    font-size: 3em;
}

.flexImage {
    display: flex;
    justify-content: space-between;
}

hr {
    display: block;
    color: whitesmoke;
    margin-top: 0.5em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#skills2 {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

#contact {
    height: 100%;
}

.imgWrapper {
    height: 230px;
    max-width: 330px;
    text-align: center;
}

.imgWrapper img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.tag1 {
    font-size: 1.9em;
}

.centerWebpack {
    position: relative;
    right: .5vw;
}

.centerWebpack p {
    position: relative;
    right: .5vw;
}

style-five {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}

style-five:after {
    content: "\00a0";
}

.feedBack {
    text-align: center;
    font-size: 1.4em
}

.blog {
    text-align: center;
    font-size: 1.4em
}

.hover :hover {
    color: whitesmoke;
}

.main {
    width: 40vw;
    opacity: .95;
    border: 2px solid black;
    margin-left: 30vw;
    border-radius: 2%;
    padding: 2%;
}

.projects {
    color: whitesmoke;
}

.contactButtons {
    color: whitesmoke;
}

.btn-custom {
    background-color: #7b8185;
    border-color: #7b8185;
    box-shadow: 0 0 .25px .25px whitesmoke,
    0 0 .5px .5px #808080,
    0 0 .75px .35px #6f7478;
    font-family: 'Rozha One', serif;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #6f7478;
    border-color: black;
    cursor: pointer;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #7b8185;
    border-color: #7b8185;
}

.flexContact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flexItem {
    margin-bottom: 4vh;
}

.card {
    background-color: #E8E8E8;
    height: 35vh;
    max-width: 19.15vw;
    box-shadow: 0 0 1px .75px whitesmoke,
    0 0 2.5px 1.5px #808080,
    0 0 3px 1.75px #778899;
}

.card:hover .overlay {
    opacity: 1;
}

.card-body {
    padding-top: 109px;
}

.card-title {
    text-align: center;
    margin-top: 2vh;
    color: #707070;
    font-family: 'Rozha One', serif;
    text-shadow: 1px 1px 1px black;
}

.card-text {
    padding: 4%;
    font-size: 1.4em;
    font-family: 'Rozha One', serif;
    color: white;
    position: absolute;
    top: 2%;
    text-shadow: 2px 2px 2px black;
}

.projectInfo2 {
    margin-bottom: 0;
    margin-top: 2vh;
}

.githubLink {
    font-size: 1.2em;
    text-align: center;
    font-family: 'Rozha One', serif;
    margin-top: auto;
}

.githubLink a {
    color: whitesmoke;
    font-family: 'Rozha One', serif;
}

.githubLink a:hover {
    color: lightgrey;
}

#projects {
    position: relative;
    background-color: black;
    margin-top: -15vh;
    height: 164%;
    z-index: 0;
    background-image: -moz-radial-gradient(circle, #FFFFFF .2px, #C0C0C0 .5px, transparent 2.5px),
    -moz-radial-gradient(circle, #FFFFFF .5px, #778899 .5px, transparent 3.75px),
    -moz-radial-gradient(ellipse, #778899 .5px, #D3D3D3 .5px, transparent 2.5px),
    -moz-radial-gradient(ellipse, #FFFFFF, #C0C0C0 .5px, transparent 1.75px);

    /* Webkit */
    background-image: -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 2.5, from(white), color-stop(0.1, #C0C0C0), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1.75, from(white), color-stop(0.1, #778899), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 2.5, from(#778899), color-stop(0.05, #D3D3D3), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1.75, from(rgba(255, 255, 255, .4)), color-stop(0.03, #C0C0C0), to(transparent));

    /* Background Attributes */
    background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;

    /* Animation */
    animation-name: movement;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    /* Firefox */
    -moz-animation-name: movement;
    -moz-animation-duration: 15s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    /* Webkit */
    -webkit-animation-name: movement;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

}

.stars, .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;

}

.stars {
    background: url(../imgs/stars2.png);
    z-index: -1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    height: 215vh;
    width: 100vw;

}

.twinkling {
    width: 100vw;
    height: 215vh;
    background: url(../imgs/twinkling.png) repeat center;
    z-index: -1;
    -moz-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;

}

.stars2 {
    position: absolute;
    background: url(../imgs/stars2.png);
    z-index: -1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    height: 156vh;
    width: 100vw;
}

.twinkling2 {
    position: absolute;
    width: 100vw;
    height: 156vh;
    background: url(../imgs/twinkling.png) repeat center;
    z-index: -1;
    -moz-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }

}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

#projects > .container {
    max-width: 78vw;
}

.cool > h2 {
    text-shadow: 2px 2px 5px black;
}

.contactMe > h2 {
    text-shadow: 2px 2px 5px black;
}

.heyman {
    margin-right: -240px;
    margin-left: -240px;
}

.textItem {
    display: none;
}

.titles {
    display: flex;
    justify-content: space-around;
    font-family: 'Rozha One', serif;
}

.titles2 {
    display: flex;
    justify-content: space-around;
    font-family: 'Rozha One', serif;
}

.row21 {
    width: 90vh;
}

#back {
    padding: 2%;
    width: 100%;
    height: 60vh;
    background-image: url('../img/brushed-metal-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
}

#about {
    height: 120%;
    margin-bottom: 0;
    background-image: -moz-radial-gradient(circle, #FFFFFF .2px, #C0C0C0 .5px, transparent 2.5px),
    -moz-radial-gradient(circle, #FFFFFF .5px, #778899 .5px, transparent 3.75px),
    -moz-radial-gradient(ellipse, #778899 .5px, #D3D3D3 .5px, transparent 2.5px),
    -moz-radial-gradient(ellipse, #FFFFFF, #C0C0C0 .5px, transparent 1.75px);

    /* Webkit */
    background-image: -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 2.5, from(white), color-stop(0.1, #C0C0C0), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1.75, from(white), color-stop(0.1, #778899), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 2.5, from(#778899), color-stop(0.05, #D3D3D3), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1.75, from(rgba(255, 255, 255, .4)), color-stop(0.03, #C0C0C0), to(transparent));

    /* Background Attributes */
    background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;

    animation-name: movement;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -moz-animation-name: movement;
    -moz-animation-duration: 25s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    -webkit-animation-name: movement;
    -webkit-animation-duration: 25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

#about p {
    font-family: 'Rozha One', serif;
    font-size: 1.6em;
    text-shadow: 2px 2px 5px black;
}

@keyframes movement {
    from {
        background-position: 0 0, -30px -60px, -130px -270px, -70px -150px;
    }
    to {
        background-position: 1000px 1000px, 320px 60px, 120px 270px, 120px 120px;
    }
}

@-moz-keyframes movement {
    from {
        background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    }
    to {
        background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
    }
}

@-webkit-keyframes movement {
    from {
        background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    }
    to {
        background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
    }
}

.weather {
    text-align: center;
    font-size: 1.4em
}

.align {
    display: flex;
    align-items: center;
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .twinkling2 {
        height: 166vh;
    }

    .stars2 {
        height: 166vh;
    }

    .heyman {
        margin-right: -115px;
        margin-left: -115px;
    }

    .imgWrapper {
        height: 190px;
    }

    .card img {
        max-height: 190px;
    }

    .card {
        height: 36vh;
    }

    .card-text {
        font-size: 1.1em;
    }

    #projects {
        height: 170%;
    }

    #skills {
        height: 141%;
    }
}

@media (min-width: 1440px) and (max-width: 1585px) {
    .cool img {
        height: 80px;
        width: 80px;
    }

    .cool .tag {
        font-size: 1.2em;
    }

    #skills {
        height: 125%;
    }
}

@media (min-width: 1350px) and (max-width: 1440px) {
    .twinkling2 {
        height: 158vh;
    }

    .stars2 {
        height: 158vh;
    }

    .heyman {
        margin-right: -115px;
        margin-left: -115px;
    }

    .card {
        height: 32vh;
    }

    .imgWrapper {
        height: 170px;
    }

    .card img {
        max-height: 170px;
    }

    #skills {
        height: 125%;
    }

    #projects {
        height: 158%;
    }

    .card-text {
        font-size: .9em;
    }

    .card-title {
        font-size: 1em;
    }

    .cool img {
        height: 80px;
        width: 80px;
    }

    .cool .tag {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) and (max-width: 1350px) {
    .heyman {
        margin-right: -40px;
        margin-left: -40px;
    }

    .cool img {
        height: 60px;
        width: 60px;
    }

    .cool .tag {
        font-size: 1em;
    }

    #skills {
        height: 112%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .twinkling2 {
        height: 144vh;
    }

    .stars2 {
        height: 144vh;
    }

    #projects {
        height: 144%;
    }

    .textButton .btn {
        font-size: 12px;
        padding: 4px 8px;
    }

    .githubLink .btn {
        font-size: 12px;
        padding: 4px 6px;
    }

    .heyman {
        margin-right: -40px;
        margin-left: -40px;
    }

    .card {
        height: 28vh;
    }

    #skills {
        height: 110%;
    }

    .card-text {
        font-size: .7em;
    }

    .card-title {
        font-size: 1em;
    }

    .imgWrapper {
        height: 150px;
    }

    .card img {
        max-height: 150px;
    }

    .cool img {
        height: 60px;
        width: 60px;
    }

    .cool .tag {
        font-size: 1em;
    }

    .firstLine img {
        height: 80px;
        width: 80px;
    }

}

@media (min-width: 992px) and (max-width: 1024px) {
    #about {
        height: 108vh;
    }

    #about p {
        font-size: 1.2em;
    }

    .twinkling2 {
        height: 135vh;
    }

    .stars2 {
        height: 135vh;
    }

    .heyman {
        margin-right: -15px;
        margin-left: -15px;
    }

    .cool img {
        height: 60px;
        width: 60px;
    }

    .cool .tag {
        font-size: 1em;
    }

    .card-title {
        font-size: .8em;
    }

    .smaller {
        height: 168%;
    }

    .card-text {
        font-size: .7em;
    }

    .card {
        height: 26vh;
    }

    #skills {
        height: 109%;
    }

    .tag {
        font-size: 1.4em;
    }

    #skills2 img {
        height: 60px;
        width: 60px;
    }

    .dude img {
        height: 60px;
        width: 60px;
    }

    .firstLine img {
        height: 80px;
        width: 80px;
    }

    #projects {
        height: 136%;
    }

    .links25 {
        font-size: .9em;
    }

    .feedBack {
        font-size: 1.2em;
    }

    .blog {
        font-size: 1.2em;
    }

    .pro7 {
        font-size: .85em;
    }

    .box {
        height: 270px;
    }

    .imgWrapper {
        height: 150px;
    }

    .card img {
        max-height: 150px;
    }

    .textButton .btn {
        font-size: 10px;
        padding: 2px 6px;
    }

    .githubLink .btn {
        font-size: 10px;
        padding: 2px 6px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .twinkling2 {
        height: 135vh;

    }

    .textButton .btn {
        font-size: 10px;
        padding: 2px 4px;
    }

    .githubLink .btn {
        font-size: 10px;
        padding: 2px 4px;
    }

    .stars2 {
        height: 135vh;
    }

    .heyman {
        margin-right: -10px;
        margin-left: -10px;
    }

    #skills .cool {
        margin-top: -30vh;
    }

    #about p {
        font-size: 1.2em;
    }

    .cool img {
        height: 60px;
        width: 60px;
    }

    .cool .tag {
        font-size: .8em;
    }

    #projects img {
        height: 200px;
    }

    .dude img {
        height: 80px;
        width: 80px;
    }

    .firstLine img {
        height: 80px;
        width: 80px;
    }

    .imgWrapper {
        height: 150px;
    }

    .card img {
        max-height: 150px;
    }

    .card {
        height: 29vh;
    }

    .card-text {
        font-size: .7em;
    }

    #projects .container img {
        height: 153px;
    }

    #projects {
        height: 146%;
    }

    #skills {
        height: 102%;
    }

    .card-title {
        font-size: .8em;
    }

    .text23 {
        font-size: .7em;
    }

    #contact {
        margin-top: -10vh;
        height: 120%;
    }
}

@media only screen and (max-width: 768px) {
    .textButton .btn {
        font-size: 10px;
        padding: 2px 4px;
    }

    .githubLink .btn {
        font-size: 10px;
        padding: 2px 4px;
    }

    .imgWrapper img {
        height: 120px;
    }

    .card-title {
        font-size: .9em;
    }

    #projects {
        height: 154%;
    }

    #skills {
        height: 166%;
    }

    #skills .cool {
        margin-top: -24vh;
    }

    .feedBack {
        font-size: 1em;
    }

    .blog {
        font-size: 1em;
    }

    .tag {
        font-size: 1.2em;
    }

    .weather {
        font-size: 1.15em;
    }

    .smaller {
        height: 155%;
    }

}