<div class="wow animated fadeIn col-sm-4 portfolio-item card"
     ng-mouseenter="$ctrl.index === 188 ? null : $ctrl.displayText()" ng-mouseleave="$ctrl.stopText()">
    <h4 class="card-title">Adventure App</h4>
    <div class="imgWrapper">
        <img src="./imgs/adventure.png" class="img-responsive" alt=""
             style="height: 240px">
    </div>
    <div class="card-body overlay">
        <div class="card-text">
            <div class="text23">
                {{$ctrl.text}}
            </div>
        </div>
        <div class="links26">
            <div class="links25 faded" ng-show="$ctrl.showButtons">
                <div class="githubLink" >
                    <a href="http://13.56.178.219:3075/" class="portfolio-link btn btn-custom btn-xs">Website</a>
                </div>
                <span class="githubLink">
                    <a href="https://github.com/Phoenix314159/adventure-app" class="btn btn-custom btn-xs">Github</a>
                </span>
            </div>
        </div>
    </div>
</div>