<div class="wow animated fadeIn socialButtons flexContact" data-wow-duration="2s">
    <div class="flexItem">
        <a href="https://www.linkedin.com/in/james-langford/"
           class="btn btn-custom btn-lg">
            <i class="fa fa-linkedin-square fa-fw"></i>
            <span>Linkedin</span>
        </a>
    </div>
    <div class="flexItem">
        <button class="btn btn-custom btn-lg dude2 faded4" ng-click="toggle=!toggle" ng-hide="toggle">
            <i class="fa fa-envelope fa-fw"></i>
            <span>Gmail</span>
        </button>
        <button class="btn btn-custom btn-lg dude2 faded4" ng-click="toggle=!toggle" ng-show="toggle">
            <i class="fa fa-envelope fa-fw"></i>
            <span>derivative7117@gmail.com</span>
        </button>
    </div>
    <div class="flexItem">
        <button class="btn btn-custom btn-lg dude2 faded4" ng-click="toggle2=!toggle2" ng-hide="toggle2">
            <i class="fa fa-envelope fa-fw"></i>
            <span>MSN</span>
        </button>
        <button class="btn btn-custom btn-lg dude2 faded4" ng-click="toggle2=!toggle2" ng-show="toggle2">
            <i class="fa fa-envelope fa-fw"></i>
            <span>derivative7117@live.com</span>
        </button>
    </div>
    <div class="flexItem sheet">
        <a href="/resume/Resume.pdf"
           class="btn btn-custom btn-lg">
            <i class="fa fa-paper-plane fa-fw"></i>
            <span>Resume</span>
        </a>
    </div>
    <div class="flexItem download2">
        <a href="/resume/Resume.pdf" download
           class="btn btn-custom btn-lg">
            <i class="fa fa-paper-plane fa-fw"></i>
            <span>Resume (Download)</span>
        </a>
    </div>
</div>
