<h2 class="contactMe">Contact</h2>
<hr/>
<ul class="list-inline banner-social-buttons flex socialButtons col-12">
    <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/james-langford/"
           class="btn btn-custom btn-lg">
            <div class="contactButtons">
                <i class="fa fa-linkedin-square fa-fw"></i>
                <span class="network-name">Linkedin</span>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <button class="btn btn-custom btn-lg dude2"
                ng-click="toggle=!toggle">
            <div class="contactButtons">
                <i class="fa fa-envelope fa-fw"></i>
                <span class="network-name" ng-hide="toggle">Gmail</span>
                <span class="network-name" ng-show="toggle">derivative7117@gmail.com</span
            </div>
        </button>
    </li>
    <li class="list-inline-item">
        <button class="btn btn-custom btn-lg dude"
                ng-click="toggle2=!toggle2">
            <div class="contactButtons">
                <i class="fa fa-envelope fa-fw"></i>
                <span class="network-name" ng-hide="toggle2">MSN</span>
                <span class="network-name" ng-show="toggle2">derivative7117@live.com</span
            </div>
        </button>
    </li>
</ul>
<div style="height:5vh"></div>
<ul class="list-inline banner-social-buttons resumeButtons">
    <li class="list-inline-item sheet">
        <a href="/resume/Resume.pdf"
           class="btn btn-custom btn-lg">
            <div class="contactButtons">
                <i class="fa fa-paper-plane fa-fw"></i>
                <span class="network-name">Resume</span>
            </div>
        </a>
    </li>
    <li class="list-inline-item download2">
        <a href="/resume/Resume.pdf" download
           class="btn btn-custom btn-lg">
            <div class="contactButtons">
                <i class="fa fa-paper-plane fa-fw"></i>
                <span class="network-name">Resume (Download)</span>
            </div>
        </a>
    </li>
</ul>