<div class="row iconRow">
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/c-sharp2.png" height="100" width="100"/>
        <p class="tag">C#</p>
    </div>
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/java2.png" height="100" width="100"/>
        <p class="tag">Java</p>
    </div>
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/golang.png" height="100" width="100"/>
        <p class="tag">Golang</p>
    </div>
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/aws2.png" height="100" width="100"/>
        <p class="tag">AWS</p>
    </div>
</div>