<div class="row heyman">
    <div class="col-3">
        <img src="/icons/html.png"
             height="100" width="100"/>
        <p class="tag">HTML5</p></div>
    <div class="col-3">
        <img src="/icons/css3.png"
             height="100" width="100"/>
        <p class="tag">CSS3</p></div>
    <div class="col-3">
        <img src="/icons/javascript.png" height="100" width="100"/>
        <p class="tag">Javascript</p>
    </div>
    <div class="col-3">
        <img src="/icons/es7.png"
            height="100" width="100"/>
        <p class="tag">Ecmascript 7</p></div>
</div>