<div class="row heyman">
    <div class="wow animated slideInLeft col-3" data-wow-duration="2s">
        <img src="./icons/html.png"
             height="100" width="100"/>
        <p class="tag">HTML5</p></div>
    <div class="wow animated slideInDown col-3" data-wow-duration="2s">
        <img src="./icons/css3.png"
             height="100" width="100"/>
        <p class="tag">CSS3</p></div>
    <div class="wow animated zoomIn col-3" data-wow-duration="2s">
        <img src="./icons/Javascript.png" height="100" width="100"/>
        <p class="tag">Javascript</p>
    </div>
    <div class="wow animated slideInRight col-3" data-wow-duration="2s">
        <img src="./icons/es7.png"
            height="100" width="100"/>
        <p class="tag">Ecmascript 7</p></div>
</div>