<div class="row heyman">
    <div class="col-3">
        <img src="/icons/mocha.svg" height="100" width="100"/>
        <p class="tag">Mocha</p>
    </div>
    <div class="col-3">
        <img src="/icons/git.png" height="100" width="100"/>
        <p class="tag">GIT</p>
    </div>
    <div class="col-3">
        <img src="/icons/sql.png" height="100" width="100"/>
        <p class="tag">SQL</p>
    </div>
    <div class="col-3">
        <img src="/icons/mongo.png" height="100" width="100"/>
        <p class="tag">MongoDB</p>
    </div>
</div>