<div class="row iconRow">
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/mocha.svg" height="100" width="100"/>
        <p class="tag">Mocha</p>
    </div>
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/git.png" height="100" width="100"/>
        <p class="tag">GIT</p>
    </div>
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/sql.png" height="100" width="100"/>
        <p class="tag">SQL</p>
    </div>
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/mongo.png" height="100" width="100"/>
        <p class="tag">MongoDB</p>
    </div>
</div>