<div class="row heyman">
    <div class="col-3">
        <img src="/icons/angular.png" height="100" width="100"/>
        <p class="tag">AngularJS</p></div>
    <div class="col-3">
        <img src="/icons/react.png" height="100" width="100"/>
        <p class="tag">ReactJS</p></div>
    <div class="col-3">
        <img src="/icons/redux.png" height="100" width="100"/>
        <p class="tag">Redux</p></div>
    <div class="col-3">
        <img src="/icons/node.png" height="100" width="100"/>
        <p class="tag">NodeJS</p>
    </div>
</div>