<div class="row iconRow">
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/angular.png" height="100" width="100"/>
        <p class="tag">AngularJS</p></div>
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/react.png" height="100" width="100"/>
        <p class="tag">ReactJS</p></div>
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/redux.png" height="100" width="100"/>
        <p class="tag">Redux</p></div>
    <div class="col-3">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/icons/node.png" height="100" width="100"/>
        <p class="tag">NodeJS</p>
    </div>
</div>