<div class="row heyman" data-wow-duration="1.5s">
    <div class="wow animated fadeIn col-3" data-wow-delay="1.7s">
        <img src="./icons/angular.png"
             height="100" width="100"/>
        <p class="tag">AngularJS</p></div>
    <div class="wow animated fadeIn col-3" data-wow-delay="1.4s">
        <img src="./icons/reactjsicon.png" height="100" width="100"/>
        <p class="tag">ReactJS</p></div>
    <div class="wow animated fadeIn col-3" data-wow-delay="1.1s">
        <img src="./icons/redux.png" height="100" width="100"/>
        <p class="tag">Redux</p></div>
    <div class="wow animated fadeIn col-3" data-wow-delay=".8s">
        <img src="icons/node_js.png"
             height="100" width="100"/>
        <p class="tag">NodeJS</p>
    </div>
</div>