<div class="row heyman">
    <div class="wow animated fadeIn col-3" data-wow-delay=".5s">
        <img src="./icons/gulp-2x.png" height="100" width="100"/>
        <p class="tag">Gulp</p>
    </div>
    <div class="wow animated fadeIn col-3" data-wow-delay=".8s">
        <img src="./icons/webpack.svg" height="100" width="100"/>
        <p class="tag">Webpack</p>
    </div>
    <div class="wow animated fadeIn col-3" data-wow-delay="1s">
        <img src="/icons/DMrPoJtc.png" height="100" width="100"/>
        <p class="tag">Passport</p>
    </div>
    <div class="wow animated fadeIn col-3" data-wow-delay="1.3s">
        <img src="./icons/Git-Icon-Black.png" height="100" width="100"/>
        <p class="tag">GIT</p>
    </div>
</div>