<div class="row heyman">
    <div class="col-3">
        <img src="/icons/gulp.png" height="100" width="100"/>
        <p class="tag">Gulp</p>
    </div>
    <div class="col-3">
        <img src="/icons/webpack.svg" height="100" width="100"/>
        <p class="tag">Webpack</p>
    </div>
    <div class="col-3">
        <img src="/icons/passport.png" height="100" width="100"/>
        <p class="tag">Passport</p>
    </div>
    <div class="col-3">
        <img src="/icons/postgres.png" height="100" width="100"/>
        <p class="tag">PostgreSQL</p>
    </div>
</div>