<div class="row heyman">
    <div class="wow animated fadeIn col-3" data-wow-delay=".5s">
        <img src="./icons/gulp-2x.png" height="100" width="100"/>
        <p class="tag">Gulp</p>
    </div>
    <div class="wow animated fadeIn col-3" data-wow-delay=".8s">
        <img src="./icons/webpack.svg" height="100" width="100"/>
        <p class="tag">Webpack</p>
    </div>
    <div class="wow animated fadeIn col-3" data-wow-delay="1.1s">
        <img src="./icons/elephant.png" height="100"
             width="100"/>
        <p class="tag">PostgreSQL</p>
    </div>
    <div class="wow animated fadeIn col-3" data-wow-delay="1.4s">
        <img src="/icons/sql-server-icon-png-32.png"
             height="100" width="100"/>
        <p class="tag">SQL</p>
    </div>
</div>