<div class="wow animated fadeIn col-sm-4 portfolio-item card" id="hover" data-wow-duration="1.5s" data-wow-delay="1s">
    <h4 class="card-title">The Toolbox</h4>
    <div class="imgWrapper">
        <img src="./imgs/toolbox.png"
             class="img-responsive" alt="" style="height: 240px">
    </div>
    <div class="card-body overlay">
        <div ng-show="$ctrl.show" class="textButton faded2">
            <button class="btn btn-custom btn-xs" ng-click="$ctrl.displayText()">
                <div class="text48">Show Info</div>
            </button>
        </div>
        <div class="card-text">
            <div class="text23">
                {{$ctrl.text}}
            </div>
        </div>
        <div class="links26">
            <div class="links25 faded" ng-show="$ctrl.showButtons">
                <div class="githubLink">
                    <a href="http://13.56.178.219:3255" class="portfolio-link btn btn-custom btn-xs">Website</a>
                </div>
                <span class="githubLink">
                             <a href="https://github.com/Phoenix314159/The-Toolbox" class="btn btn-custom btn-xs">Github</a>
                </span>
            </div>
        </div>
    </div>
</div>