<div class="col-sm-4 portfolio-item card" id="hover"
     ng-mouseenter="$ctrl.text.length === 162 ? null : $ctrl.displayText(); $ctrl.showText()"
     ng-mouseleave="$ctrl.text.length === 162 ? null : $ctrl.stopText(); $ctrl.showPicture()">
    <h4 class="card-title">The Toolbox</h4>
    <div class="imgWrapper">
        <img ng-src="{{$ctrl.cloudfrontUrl}}/toolbox.png" class="img-responsive" style="height: 240px">
    </div>
    <div id="cardBody5" class="card-body">
        <div class="card-text">
            <div class="text23">
                {{$ctrl.text}}
            </div>
        </div>
        <div class="links26">
            <div class="links25 faded" ng-show="$ctrl.showButtons">
                <div class="githubLink">
                    <a href="http://13.56.178.219:3255" class="portfolio-link btn btn-custom btn-xs">Website</a>
                </div>
                <span class="githubLink">
                             <a href="https://github.com/Phoenix314159/The-Toolbox"
                                class="btn btn-custom btn-xs">Github</a>
                </span>
            </div>
        </div>
    </div>
</div>