<div ng-class="$ctrl.stop ? 'cardBack' : null" class="col-sm-4 portfolio-item card"
     ng-mouseenter="$ctrl.text.length === 172 ? null : $ctrl.displayText()" ng-mouseleave="$ctrl.stopText()">
    <div id="cardPicture8">
        <h4 class="card-title">Weather App</h4>
        <div class="imgWrapper">
            <img src="./imgs/weather-app.png" class="img-responsive" style="height: 240px">
        </div>
    </div>
    <div id="cardBody8" class="card-body overlay ">
        <div class="card-text">
            <div class="text23">
                {{$ctrl.text}}
            </div>
        </div>
        <div class="links26">
            <div class="links25 faded" ng-show="$ctrl.showButtons">
                <div class="githubLink">
                    <a href="http://13.56.178.219:3465" class="portfolio-link btn btn-custom btn-xs">Website</a>
                </div>
                <span class="githubLink">
                    <a href="https://github.com/Phoenix314159/weather-app" class="btn btn-custom btn-xs">Github</a>
                </span>
            </div>
        </div>
    </div>
</div>