<div class="col-sm-4 portfolio-item card"
     ng-mouseenter="$ctrl.text.length === 177 ? null : $ctrl.displayText(); $ctrl.showText()"
     ng-mouseleave="$ctrl.text.length === 177 ? null : $ctrl.stopText(); $ctrl.showPicture()">
    <div id="cardPicture6">
        <h4 class="card-title">Youtube App</h4>
        <div class="imgWrapper">
            <img src="./imgs/youtube-app.png" class="img-responsive" style="height: 240px">
        </div>
    </div>
    <div id="cardBody6" class="card-body">
        <div class="card-text">
            <div class="text23">
                {{$ctrl.text}}
            </div>
        </div>
        <div class="links26">
            <div class="links25 faded" ng-show="$ctrl.showButtons">
                <div class="githubLink">
                    <a href="http://13.56.178.219:3241/" class="portfolio-link btn btn-custom btn-xs">Website</a>
                </div>
                <span class="githubLink">
                    <a href="https://github.com/Phoenix314159/react-youtube-app" class="btn btn-custom btn-xs">Github</a>
                </span>
            </div>
        </div>
    </div>
</div>