$fontFamily: 'Rozha One', serif;
$transition: .2s ease-in-out opacity;
$navTransition: background 0.3s ease-in-out;
$blackShadow: 0 0 .5px .5px black;
$tShadow: 2px 2px 5px black;
$projectShadow: inset 0 0 7px 7px;
$color: whitesmoke;
$radius: 2pt;
$twinkling: 200s linear infinite;

#mainNav {
  font-family: $fontFamily;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  display: none;
  background-color: #101010;
  border-bottom: .5px solid grey;
  box-shadow: 0 0 .3px 0 black;
  ul {
    li {
      -webkit-transition: $navTransition;
      -moz-transition: $navTransition;
      transition: $navTransition;
      &:hover {
        .nav-link {
          color: black;
        }
        outline: none;
        background-color: $color;
        border-radius: $radius;
      }
      &:active, &:focus {
        outline: none;
        background-color: $color;
      }
    }
  }
  .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: white;
    border: 1px solid white;
  }
  .navbar-brand {
    font-weight: 700;
  }
  a {
    color: white;
  }
}

.show {
  display: block;
}

header {
  .intro-text {
    .skills {
      font-size: 3.75em;
    }
  }
}

.navbar-brand {
  span {
    font-size: 16px;
    font-family: $fontFamily;
  }
}

.spacer {
  height: 5vh
}

.title2 {
  line-height: 53px
}

.buttonColor {
  color: $color;
}

.brand-heading {
  text-shadow: $tShadow;
}

.stack {
  font-size: 2.1em;
  font-family: $fontFamily;
  text-shadow: $tShadow;
}

.flex {
  p {
    text-align: center;
  }
}

.flexItem {
  i {
    color: $color;
  }
  span {
    font-family: $fontFamily;
    color: white;
  }
}

.faded.ng-hide {
  opacity: 0;
}

.faded.ng-hide-add,
.faded.ng-hide-remove {
  transition: all linear 1s;
}

.faded2.ng-hide {
  opacity: 0;
}

.faded2.ng-hide-add,
.faded2.ng-hide-remove {
  transition: all linear .5s;
}

.faded3.ng-hide {
  opacity: 1;
}

.faded3.ng-hide-add,
.faded3.ng-hide-remove {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  opacity: 0;
}

.faded4.ng-hide {
  opacity: 1;
}

.faded4.ng-hide-add,
.faded4.ng-hide-remove {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  opacity: 0;
}

.resumeButtons {
  display: flex;
  justify-content: space-around;
  .sheet {
    margin-right: 14.5px;
  }
  .download2 {
    margin-left: 14.5px;
  }
}

.sectionFont {
  font-family: $fontFamily;
  font-weight: 400;
  text-shadow: 2px 2px 5px black;
}

.textButton {
  display: flex;
  justify-content: center;
  align-items: center;
  .text48 {
    font-family: $fontFamily;
    color: $color;
  }
}

.text45 {
  font-size: 1.2em;
}

.myPicture {
  opacity: .9;
  box-shadow: $blackShadow, $blackShadow, $blackShadow;
  height: 210px;
  width: 270px;
  border-radius: 5pt;
}

#skills {
  position: relative;
  z-index: 0;
  background: url('../imgs/space2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  img {
    margin: auto;
    display: block;
  }
}

.imageLinks {
  height: 230px;
  width: 390px;
}

.text23 {
  color: $color;
}

.links26 {
  position: absolute;
  bottom: 4%;
  width: 92%
}

.links25 {
  display: flex;
  height: 18vh;
  justify-content: space-around;
  font-size: 1.15em;
  span {
    a {
      width: 90px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease-in-out;
  background-color: black;
  padding: 4%;
  animation-name: boxswitch;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 2s ease-in-out;
}

.hideCardBody {
  visibility: hidden;
}

@keyframes boxswitch {
  0% {
    box-shadow: $projectShadow #3f5767;
  }
  20% {
    box-shadow: $projectShadow $color;
  }
  40% {
    box-shadow: $projectShadow #3a5161;
  }
  80% {
    box-shadow: $projectShadow #BCC6CC;
  }
  100% {
    box-shadow: $projectShadow #4C75A3;
  }
}

.text-center {
  h2 {
    font-size: 3em;
  }
}

.flexImage {
  display: flex;
  justify-content: space-between;
}

hr {
  color: $color;
  margin-top: 0.5em;
  margin-bottom: 9vh;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 67vh;
}

.flex {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#skills2 {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

#contact {
  position: relative;
  display: flex;
  justify-content: center;
  background: url('../imgs/pluto.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  height: 125%;
  font-family: $fontFamily;
}

.contactSection {
  position: absolute;
  top: -3vh;
}

.imgWrapper {
  height: 230px;
  max-width: 330px;
  text-align: center;
  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }
}

.contactButtons {
  color: $color;
}

.btn-custom {
  background-color: #7b8185;
  border-color: #7b8185;
  box-shadow: 0 0 .1px .1px $color,
  0 0 .5px .5px #808080,
  0 0 .75px .35px #6f7478;
  font-family: $fontFamily;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: #6f7478;
    border-color: black;
    cursor: pointer;
  }
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active,
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active,
  fieldset[disabled] &:hover,
  fieldset[disabled] &:focus,
  fieldset[disabled] &.active {
    background-color: #7b8185;
    border-color: #7b8185;
  }
}

.flexContact {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.flexItem {
  margin-bottom: 10vh;
}

.copied {
  text-shadow: 2px 2px 2px black;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: -60px;
}

.card {
  background-color: #E8E8E8;
  height: 32vh;
  max-width: 19.15vw;
  box-shadow: 0 0 1px .75px $color,
  0 0 2.5px 1.5px #808080,
  0 0 3px 1.75px #778899;
  &:hover {
    cursor: pointer
  }
}

.card-body {
  padding-top: 109px;
}

.cardBody2 {
  visibility: hidden;
}

.card-title {
  text-align: center;
  margin-top: 2vh;
  color: #707070;
  font-family: $fontFamily;
  text-shadow: 1px 1px 1px black;
}

.card-text {
  padding: 4%;
  font-size: 1.4em;
  font-family: $fontFamily;
  color: white;
  position: absolute;
  top: 2%;
  text-shadow: 2px 2px 2px black;
}

.githubLink {
  font-size: 1.2em;
  text-align: center;
  margin-top: auto;
  a {
    color: $color;
    font-family: $fontFamily;
    &:hover {
      color: lightgrey;
    }
  }
}

#projects {
  position: relative;
  background-color: black;
  z-index: 3;
  background-image: -moz-radial-gradient(circle, #FFFFFF .2px, #C0C0C0 .2px, transparent 2.5px),
  -moz-radial-gradient(circle, #FFFFFF .25px, #778899 .25px, transparent 3.75px),
  -moz-radial-gradient(ellipse, #778899 .2px, #D3D3D3 .5px, transparent 2.5px),
  -moz-radial-gradient(ellipse, #FFFFFF, #C0C0C0 .2px, transparent 1.75px);
  background-image: -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 2.5, from(white), color-stop(0.1, #C0C0C0), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1.75, from(white), color-stop(0.1, #778899), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 2.5, from(#778899), color-stop(0.05, #D3D3D3), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1.75, from(rgba(255, 255, 255, .4)), color-stop(0.03, #C0C0C0), to(transparent));
  background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
  background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  animation-name: movement;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -moz-animation-name: movement;
  -moz-animation-duration: 15s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: movement;
  -webkit-animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  .container {
    max-width: 78vw;
  }
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.stars {
  position: absolute;
  background: url(../imgs/stars2.png);
  z-index: -3;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.twinkling {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
  background: url(../imgs/twinkling.png) repeat center;
  -moz-animation: move-twink-back $twinkling;
  -o-animation: move-twink-back $twinkling;
  -webkit-animation: move-twink-back $twinkling;
  animation: move-twink-back $twinkling;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.iconRow {
  margin-right: -240px;
  margin-left: -240px;
  .tag {
    text-align: center;
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 1.6em;
    color: #ffffff;
    text-shadow: $tShadow;
  }
}

#about {
  position: relative;
  z-index: 1;
  background-image: -moz-radial-gradient(circle, #FFFFFF .2px, #C0C0C0 .5px, transparent 2.5px),
  -moz-radial-gradient(circle, #FFFFFF .5px, #778899 .5px, transparent 3.75px),
  -moz-radial-gradient(ellipse, #778899 .5px, #D3D3D3 .5px, transparent 2.5px),
  -moz-radial-gradient(ellipse, #FFFFFF, #C0C0C0 .5px, transparent 1.75px);
  background-image: -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 2.5, from(white), color-stop(0.1, #C0C0C0), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1.75, from(white), color-stop(0.1, #778899), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 2.5, from(#778899), color-stop(0.05, #D3D3D3), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1.75, from(rgba(255, 255, 255, .4)), color-stop(0.03, #C0C0C0), to(transparent));
  background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
  background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  animation-name: movement;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -moz-animation-name: movement;
  -moz-animation-duration: 25s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: movement;
  -webkit-animation-duration: 25s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  p {
    font-family: $fontFamily;
    font-size: 1.6em;
    text-shadow: 2px 2px 5px black;
  }
}

@keyframes movement {
  from {
    background-position: 0 0, -30px -60px, -130px -270px, -70px -150px;
  }
  to {
    background-position: 1000px 1000px, 320px 60px, 120px 270px, 120px 120px;
  }
}

@-moz-keyframes movement {
  from {
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  }
  to {
    background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
  }
}

@-webkit-keyframes movement {
  from {
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  }
  to {
    background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
  }
}

@media (min-width: 1585px) and (max-width: 1919px) {
  .iconRow {
    margin-right: -150px;
    margin-left: -150px;
  }

  .imgWrapper {
    height: 190px;
  }

  .card {
    height: 36vh;
    img {
      max-height: 190px;
    }
  }

  .card-text {
    font-size: 1.1em;
  }

  #contact {
    height: 130%;
  }
}

@media (min-width: 1440px) and (max-width: 1585px) {
  .iconRow {
    margin-right: -115px;
    margin-left: -115px;
  }

  .card {
    img {
      max-height: 190px;
    }
  }

  .card-text {
    font-size: 1.1em;
  }

  #skills {
    .tag {
      font-size: 1.2em;
    }
    img {
      height: 90px;
      width: 90px;
    }
  }

  .card-title {
    font-size: 1.2em;
  }

  #contact {
    height: 130%;
  }
}

@media (min-width: 1350px) and (max-width: 1440px) {

  .iconRow {
    margin-right: -85px;
    margin-left: -85px;
  }

  .card {
    height: 32vh;
    img {
      max-height: 170px;
    }
  }

  .imgWrapper {
    height: 170px;
  }

  #skills {
    img {
      height: 80px;
      width: 80px;
    }
    .tag {
      font-size: 1.2em;
    }
  }

  .card-text {
    font-size: 1em;
  }

  .card-title {
    font-size: 1em;
  }

  #contact {
    height: 131%;
  }
}

@media (min-width: 1200px) and (max-width: 1350px) {
  .iconRow {
    margin-right: -25px;
    margin-left: -25px;
  }

  #skills {
    img {
      height: 60px;
      width: 60px;
    }
    .tag {
      font-size: 1em;
    }
  }

  .imgWrapper {
    height: 180px;
  }

  .card {
    height: 32vh;
    img {
      max-height: 180px;
    }
  }

  .card-title {
    font-size: 1em;
  }

  .card-text {
    font-size: .9em;
  }

  #contact {
    height: 131%;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {

  .textButton {
    .btn {
      font-size: 12px;
      padding: 4px 8px;
    }
  }

  .githubLink {
    .btn {
      font-size: 12px;
      padding: 2px 2px;
    }
  }

  .links25 {
    justify-content: center;
    margin-right: 4%;
    span {
      a {
        width: 55px;
      }
    }
  }

  .iconRow {
    margin-right: -5px;
    margin-left: -5px;
  }

  .card {
    height: 28vh;
    img {
      max-height: 150px;
    }
  }

  #skills {
    img {
      height: 60px;
      width: 60px;
    }
    .tag {
      font-size: 1em;
    }
  }

  .card-text {
    font-size: .8em;
    margin-left: 1%;
    margin-top: 3%;
  }

  .card-title {
    font-size: 1em;
  }

  .imgWrapper {
    height: 150px;
  }

  #contact {
    height: 131%;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  #about {
    p {
      font-size: 1.2em;
    }
  }

  .githubLink {
    .btn {
      font-size: 12px;
      padding: 2px 2px;
    }
  }

  .links25 {
    justify-content: center;
    margin-right: 4%;
    span {
      a {
        width: 55px;
      }
    }
  }

  .iconRow {
    margin-right: 30px;
    margin-left: 30px;
  }

  .card-title {
    font-size: .8em;
  }

  .card-text {
    font-size: .75em;
  }

  .card {
    height: 26vh;
    img {
      max-height: 150px;
    }
  }

  #skills {
    img {
      height: 60px;
      width: 60px;
    }
    .tag {
      font-size: 1em;
    }
  }

  #contact {
    height: 130%;
  }

  .links25 {
    font-size: .9em;
  }

  .imgWrapper {
    height: 150px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .githubLink {
    .btn {
      font-size: 10px;
      padding: 2px 2px;
    }
  }

  .links25 {
    justify-content: center;
    margin-right: 5%;
    span {
      a {
        width: 55px;
      }
    }
  }

  .iconRow {
    margin-right: -10px;
    margin-left: -10px;
  }

  #about {
    p {
      font-size: 1.2em;
    }
  }

  .imgWrapper {
    height: 150px;
  }

  .card {
    height: 29vh;
    img {
      max-height: 150px;
    }
  }

  .card-text {
    font-size: 1.15em;
  }

  #projects {
    img {
      height: 200px;
    }
  }

  #skills {
    img {
      height: 60px;
      width: 60px;
    }
    .tag {
      font-size: .8em;
    }
  }

  .card-title {
    font-size: .8em;
  }

  .text23 {
    font-size: .7em;
  }

  #contact {
    height: 155%;
  }
}

@media (min-width: 535px) and (max-width: 768px) {
  .textButton {
    .btn {
      font-size: 10px;
      padding: 2px 4px;
    }
  }

  #skills {
    img {
      height: 40px;
      width: 40px;
    }
    .tag {
      font-size: .7em;
    }
  }

  #about {
    p {
      font-size: 1em;
    }
  }

  .githubLink {
    .btn {
      font-size: 10px;
      padding: 2px 4px;
    }
  }

  .imgWrapper {
    img {
      height: 120px;
    }
  }

  .card-title {
    font-size: .9em;
  }

  .card {
    height: 24vh;
    max-width: 22.15vw;
    img {
      max-height: 135px;
    }
  }

  .card-text {
    font-size: .7em;
  }

  .card-title {
    font-size: .7em;
  }

  .iconRow {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 425px) and (max-width: 535px) {
  .textButton {
    .btn {
      font-size: 10px;
      padding: 2px 4px;
    }
  }

  #about {
    p {
      font-size: 1em;
    }
  }

  .githubLink {
    .btn {
      font-size: 10px;
      padding: 2px 4px;
    }
  }

  .imgWrapper {
    img {
      height: 120px;
    }
  }

  .card-title {
    font-size: .9em;
  }

  #skills {
    img {
      height: 40px;
      width: 40px;
    }
    .tag {
      font-size: .7em;
    }
  }

  .card {
    height: 24vh;
    max-width: 22.15vw;
    img {
      max-height: 135px;
    }
  }

  .card-title {
    font-size: .7em;
  }

  .card-text {
    font-size: .7em;
  }

  .card-title {
    font-size: .7em;
  }

  .iconRow {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  #skills {
    img {
      height: 30px;
      width: 30px;
    }
    .tag {
      font-size: .5em;
    }
  }

  .card {
    height: 25vh;
    max-width: 66.15vw;
    margin-bottom: 25px;
    img {
      max-height: 129px;
    }
  }

  .card-text {
    font-size: .7em;
  }

  .iconRow {
    margin-right: 0;
    margin-left: 0;
  }

  .text-center {
    h2 {
      font-size: 1.5em;
    }
  }

  hr {
    width: 23vw;
  }

  .james {
    margin-top: 20px;
  }

  .myPicture {
    height: 28%;
    width: 50%;
  }

  .brand-heading {
    font-size: 41px;
    line-height: 14px;
  }

  .stack {
    font-size: 87%;
  }

  .btn-circle {
    height: 80%;
    width: 80%;
  }

  .sectionFont {
    font-size: 10px;
  }

  #about {
    p {
      font-size: 13px;
    }
  }

  #contact {
    height: 113%;
  }

  .rowContact {
    margin-top: -28vh
  }

  #contact {
    .container {
      .row {
        .col-lg-18 {
          margin-top: -17vh;
        }
      }
    }
  }
}

