

#skills  {
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    margin-bottom: 15vh;
    height: 140%;
}


header .intro-text .skills {
    font-size: 3.75em;
}

.tag {
    text-align: center;
    margin-top: 9%;
    font-family: 'Mogra', cursive;
    font-weight: bold;
    font-size: 1.9em;
    color: whitesmoke;
}

.me {
    background: url("../img/1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
}
.text45 {
    font-size: 1.2em;
}
.background {
    background: url("../img/abstract-wallpaper-cool-desktop-images-art-colors-colorful-backgrounds-high-resolution-paints-background-images-2262x1476.jpg")
}

.box {
    border-radius: 7pt;
    width: 390px;
    height: 300px;
    padding-top: 2.5%;
    border: 2px solid whitesmoke;
}
.box29 {
    width: 390px;
    margin-top: -2vh;
}
.imageLinks {
    height:230px; width:390px;
}
.box37 {
    border: 2px solid whitesmoke;
    border-radius: 7pt;
}
.react {
    position: relative;
    left: -1%;
    margin-top: -1%;
}

.box2 img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .9;
}

.text-center h2 {
    font-size: 3em;
}

.container img {
    float: left;
    padding: 20px;
}
hr {
    display: block;
    color: whitesmoke;
    margin-top: 0.5em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#skills2 {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.gulp {
    position: relative;
    right: 2.3vw;
}

.node {
    position: relative;
    right: 1.2%;
}

.elephant {
    position: relative;
    right: .8vw;
}

.git {
    position: relative;
    right: .9vw;
}

.sql {
    position: relative;
    right: 1.1vw;
}

.tag1 {
    font-size: 1.9em;
}

.centerWebpack {
    position: relative;
    right: .5vw;
}
.centerWebpack p {
    position: relative;
    right: .5vw;
}

style-five {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}
.dude3 {
    /*margin-bottom: -15vh;*/
}

style-five:after {
    content: "\00a0";
}


.hover :hover {
    color: whitesmoke;
}

.main {
    width: 40vw;
    opacity: .95;
    border: 2px solid black;
    margin-left: 30vw;
    border-radius: 2%;
    padding: 2%;
}

.projects {
    color: whitesmoke;
}
#projects {
    background-image: url('../img/brushed-metal-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    margin-top: -15vh;

}

#back {
    padding: 2%;
    width: 100%;
    height: 60vh;
    background-image: url('../img/brushed-metal-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
}
#about{
    margin-bottom: -42vh;
}

section.success {
    /*background-color: #0e0e0e;*/
}

hr.star-primary {

    margin-top: 38px;
}



.align {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 1024px) {
    #skills3 {
        height: 167%;
    }
}
